header{
    position: sticky;
    height: 85px;
    width: 100%;
}


.topnav{
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 3;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(23, 21, 47, 0.001);
    -webkit-backdrop-filter: blur(507px);
    backdrop-filter: blur(507px);
    border-radius: 1px;
    
}

*{
    color: white;
    margin: 0;
    font-family: "Roboto", sans-serif;
    
}

body{
    background-image: url("images/android-chrome-192x192.png");
    background-repeat: repeat;
}

.subpages-list{
    list-style-type: none;
    display: flex;
}

.topnav-subpage{
    padding: 0px 30px;
}

.join-button{
    border-style: none;
    border-radius: 15px;
    background-color: #7721EF;
    text-decoration: none;
    padding: 6px 16px;
    background-clip: padding-box;
}

a {
    text-decoration: none;
}

.roboto-<roboto-roboto-<uniquifier> {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

footer{
    color: black;
}

.current-subpage {
    color: #7721EF;
    font-weight: bold;
}
