h1{
    padding-top: 200px;
    text-align: center;
    font-family: 'space-grotesk', 'Arial','sans-serif';
}

#addressCircle{
    font-size: 40px;
    font-weight: bold;
    font-family: "Space Grotesk", "Arial", 'sans-serif';
}

.adressParagraph{
    font-size: 17px;
    font-family: "Roboto", "Arial", 'sans-serif';
}

#addressText{
    vertical-align: middle;
    text-align: left;
    width: 400px;
}

#address{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    padding: 20px 0;
}

.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
}