#head {
    padding: 323px 0;
    width: 100%;
    font-size: xx-large;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: 'inter', 'arial', 'sans-serif';
    font-size: 17px;
}

h1{
    font-family: 'space-grotest', 'arial', 'sans-serif';
    font-size: 48px;
}

#opis{
    max-width: 998px;
}
